{% load static %}
{% if item %}
<section class="product-card">
  {% if item.product.photo %}
    <img src="{{ item.product.photo.url }}" alt="{{ item.product }} Photo" />
  {% else %}
    {% if item.item_type == 'VegetableAndFruit' %}
      <img src="{% static 'images/fruit-and-veg.jpg' %}" alt="Vegetable Image" />
    {% elif item.item_type == 'AnimalProduct' %}
      <img src="{% static 'images/meat.jpg' %}" alt="Meat Photo" />
    {% elif item.item_type == 'DairyProduct' %}
      <img src="{% static 'images/milk-products.jpg' %}" alt="Dairy Photo" />
    {% elif item.item_type == 'Nut' %}
      <img src="{% static 'images/nuts-and-dry-fruits.jpg' %}" alt="Nut Photo" />
    {% endif %}
  {% endif %}
  <div class="details">
    <h2>{{ item.product.name }}</h2>
    <p class="price">${{ item.product.price }} / lb</p>
    <div class="quantity">
      <button
        hx-get="{% url 'update cart' item.product.id 'decrement' item.item_type %}"
        hx-target="#cart-item-{{ item.product.id }}"
        hx-swap="outerHTML"
      >-</button>
      <span>{{ item.quantity }} lb</span>
      <button
        hx-get="{% url 'update cart' item.product.id 'increment' item.item_type %}"
        hx-target="#cart-item-{{ item.product.id }}"
        hx-swap="outerHTML"
      >+</button>
    </div>
  </div>
  <div class="total-price">${{ item.total_price }}</div>
  <a class="delete-button" onclick="deleteCartItem('{{ item.item_type }}', '{{ item.product.id }}')">
    <img src="{% static 'images/bin.png' %}" alt="Delete" />
  </a>
</section>
      
{% endif %}



