{% extends 'main/base.html' %}
{% load static %}
{% block title %} Basket {% endblock %}
{% block page_content %}
    <main>
    <section class="product-card">
      <img src="https://via.placeholder.com/160x160" alt="Heirloom tomato" />
      <div class="details">
        <h2>Heirloom tomato</h2>
        <p class="price">$5.99 / lb</p>
        <div class="quantity">
          <span>1 lb</span>
          <img src="https://via.placeholder.com/16x16" alt="Edit quantity" />
        </div>
      </div>
      <div class="subtotal">$5.99</div>
    </section>

  </main>

  <aside class="summary">
    <h3>Order Summary</h3>
    <p>Subtotal: $27.44</p>
    <p>Shipping: $3.99</p>
    <p>Tax: $2.00</p>
    <strong>Total: $33.43</strong>
    <button class="btn payment">Continue to Payment</button>
  </aside>
    {% endblock %}