{% load static %}
{% if vegetable.user_id != request.user.pk%}
<div class="card-container">
  <div class="card-name">{{ animal }}</div>
  <div class="card-price">${{ animal.price }}/kg</div>
  <div class="card-country">Raised in {{ animal.production }}</div>
      <a href="{% url 'details animal' animal.pk %}">
        {% if animal.photo %}
            <img class="card-img" src="{{ animal.photo.url }}" alt="animal photo">
        {% else %}
            <img class="card-img" src="{% static 'images/meat.jpg' %}" alt="animal photo">
        {% endif %}
    </a>
    {% if request.user.is_authenticated %}
        <button 
            class="card-btn" 
            id="add-to-cart-AnimalProduct-{{ animal.pk }}"
            hx-get="{% url 'add to cart' item_type='AnimalProduct' product_id=animal.id %}"
            hx-target="#menu-cart-button"   
            hx-swap="outerHTML"
            onclick="addToCart('AnimalProduct',{{ animal.pk }})"
        >
            <img src="{% static 'images/shopping-trolley.png' %}" alt="Add to cart">
        </button>
    {% endif %}
</div>
{% endif %}
