<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
    <title>{% block title %} {% endblock %} | Farm</title>
    <script type="text/javascript" src="{% static 'functions.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>

<div class="navbar-container">
    <div class="logo">Farm Shop</div>
  
  <form method="get" class="search-bar">
    <input type="text" name="q" placeholder="Search products..." />
    <button type="submit" class="button">Search</button>
  </form>

  <nav class="navbar-links">
    
    <a href="{% url 'home' %}" class="nav-item">Shop</a>
    <a href="{% url 'about' %}" class="nav-item">About Us</a>

    {% if request.user.is_authenticated %}
        <div class="nav-item"
                id="menu-cart"
                hx-get="{% url 'menu cart' %}"
                hx-trigger="update-menu-cart from:body"
                hx-swap="innerHTML"
            >
                {% include 'cart/menu_cart.html' %}
        </div>
        
      <div class="profile-dropdown">
        <button class="profile-btn">Profile</button>
        <div class="dropdown-content">
          <a href="{% url 'profile details' pk=request.user.pk %}">Profile Details</a>
          <a href="{% url 'my orders' pk=request.user.pk %}">Order History</a>
          <a href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    {% else %}
      <a href="{% url 'login' %}" class="nav-item">Sign In</a>
    {% endif %}
  </nav>
 <p class="menu-icon" onclick="toggleNavbar()">☰</p>

</div>
    <div class="page-content">
    {% block page_content %}
        
    {% endblock %}
    </div>

<footer>
    <nav class="footer-menu">
    <div class="footer-column">
        <div><b>INFORMATION</b></div><br>
        <div>Working hours: 00:00-24:00</div>
        <div>Email: <a href="mailto:farmapp@abv.bg" class="link">farmapp@abv.bg</a></div>
        <div>Text us on Facebook and Instagram</div>
        <div>Located in Slivo pole, Bulgaria</div>
        <div>Worldwide delivery</div>
    </div>
        <div class="footer-column">
        <div><b>CONTACTS</b></div><br>
            <a href="#" class="link">Contacts</a>
            <a href="{% url 'about' %}" class="link">About us</a>
            <a href="#" class="link">Q&A</a>
    </div>
    <div class="footer-column">
        <div><b>PROFILE</b></div><br>
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile details' pk=request.user.pk %}" class="link">Your profile</a>
            <a href="{% url 'my orders' pk=request.user.pk %}" class="link">Your orders</a>
        {% else %}
            <a href="{% url 'login' %}" class="link">Sign in</a>
        {% endif %}
    </div>
    <div class="last footer-column">
        <div>
            <a href="https://www.facebook.com/profile.php?id=61573651983856" target="_blank">
                <img src="{% static 'images/facebook.jpg' %}" alt="Follow us on Facebook" width="50" height="50">
            </a>
        </div>
        <div>
            <a href="https://www.instagram.com/farm.shop.2025/" target="_blank">
                <img src="{% static 'images/instagram.jpg' %}" alt="Follow us on Instagram" width="50" height="50">
            </a>
        </div>
        <div>
            <a href="mailto:farmapp@abv.bg">
                <img src="{% static 'images/mail.jpg' %}" alt="Email Us" width="50" height="50">
            </a>
        </div>
        
        
    </div>
    </nav>
    <div class="under-menu">
        <div>© Farm Shop 2025</div>
    </div>
</footer>





<script src="https://unpkg.com/htmx.org@1.9.4"></script>
</body>
</html>



