<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
    <title>{% block title %} {% endblock %} | Farm</title>
    <script type="text/javascript" src="{% static 'functions.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>

<div class="navbar-container">
    <div class="logo">Farm Shop</div>
  
  <form method="get" class="search-bar">
    <input type="text" name="q" placeholder="Search products..." />
    <button type="submit" class="button">Search</button>
  </form>

  <nav class="navbar-links">
    
    <a href="{% url 'home' %}" class="nav-item">Shop</a>
    <a href="{% url 'about' %}" class="nav-item">About Us</a>

    {% if request.user.is_authenticated %}
        <div class="nav-item"
                id="menu-cart"
                hx-get="{% url 'menu cart' %}"
                hx-trigger="update-menu-cart from:body"
                hx-swap="innerHTML"
            >
                {% include 'cart/menu_cart.html' %}
        </div>
        
      <div class="profile-dropdown">
        <button class="profile-btn">Profile</button>
        <div class="dropdown-content">
          <a href="{% url 'profile details' pk=request.user.pk %}">Profile Details</a>
          <a href="{% url 'my orders' pk=request.user.pk %}">Order History</a>
          <a href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    {% else %}
      <a href="{% url 'login' %}" class="nav-item">Sign In</a>
    {% endif %}
  </nav>
</div>
    
    {% block page_content %}

    {% endblock %}



<script src="https://unpkg.com/htmx.org@1.9.4"></script>
</body>
</html>



