{% load static %}
<div class="card-container">
  <div class="card-name">{{ dairy.name }}</div>
  <div class="card-price">${{ dairy.price }}/kg</div>
  <div class="card-country">{{ dairy.percent }}% fat</div>
      <a href="{% url 'details dairy' dairy.pk %}">
        {% if dairy.photo %}
            <img class="card-img" src="{{ dairy.photo.url }}" alt="dairy photo">
        {% else %}
            <img class="card-img" src="{% static 'images/milk-products.jpg' %}" alt="dairy photo">
        {% endif %}
    </a>

         <button 
            class="card-btn" 
            id="add-to-cart-DairyProduct-{{ dairy.pk }}"
            hx-get="{% url 'add to cart' item_type='DairyProduct' product_id=dairy.id %}"
            hx-target="#menu-cart-button"   
            hx-swap="outerHTML"
            onclick="addToCart('DairyProduct',{{ dairy.pk }})"
        >
            <img src="{% static 'images/shopping-trolley.png' %}" alt="Add to cart">
        </button>
</div>