{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {% if request.user.is_authenticated %}
        Home
    {% else %}
        Welcome
    {% endif %}
{% endblock %}

{% block page_content %}

    <div class="header-container">
        <div class="header-title">Products</div>
        <div class="header-detail">{{ count_all_products }} items in our shop</div>
        <div class="header-separator"></div>
    </div>
    
    <div class="products-container">
            {% for vegetable in veg_fruit %}
                {% include 'main/vegetable-card.html' %}
            {% endfor %}

            {% for dairy in dairies %}
                {% include 'main/dairy-card.html' %}
            {% endfor %}

            {% for animal in animal_products %}
                {% include 'main/animal-card.html' %}
            {% endfor %}

            {% for nut in nuts %}
                {% include 'main/nut-card.html' %}
            {% endfor %}
    </div>

    <div>
<h3>Recently Viewed</h3>
{% for item in recently_viewed %}
    <div class="card-container">
        <div class="card-name">{{ item.name }}</div>
        {% if item.type == 'VegetableAndFruit' %}
            <a href="{% url 'details vegetable' item.id %}">
                <img class="card-img" src="{{ item.photo }}" alt="vegetable or fruit photo">
            </a>
        {% elif item.type == 'Nut' %}
            <a href="{% url 'details nut' item.id %}">
                <img class="card-img" src="{{ item.photo }}" alt="nut photo">
            </a>
        {% elif item.type == 'DairyProduct' %}
            <a href="{% url 'details dairy' item.id %}">
                <img class="card-img" src="{{ item.photo }}" alt="dairy product photo">
            </a>
        {% elif item.type == 'AnimalProduct' %}
            <a href="{% url 'details animal' item.id %}">
                <img class="card-img" src="{{ item.photo }}" alt="animal product photo">
            </a>
        {% endif %}
    </div>
{% endfor %}
</div>


{% endblock %}

