{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {% if request.user.is_authenticated %}
        Home
    {% else %}
        Welcome
    {% endif %}
{% endblock %}

{% block page_content %}

    <div class="header-container">
        <div class="header-title">Products</div>
        <div class="header-detail">{{ count_all_products }} items in our shop</div>
        <div class="header-separator"></div>
    </div>
    
    <div class="products-container">
            {% for vegetable in veg_fruit %}
                {% include 'main/vegetable-card.html' %}
            {% endfor %}

            {% for dairy in dairies %}
                {% include 'main/dairy-card.html' %}
            {% endfor %}

            {% for animal in animal_products %}
                {% include 'main/animal-card.html' %}
            {% endfor %}

            {% for nut in nuts %}
                {% include 'main/nut-card.html' %}
            {% endfor %}
    </div>

    <div>
    <div class="header-container">
        <div class="header-title">Recently Viewed</div>
        <div class="header-separator"></div>
    </div>
{% for item in recently_viewed %}
    <div class="products-container">
    <div class="recently-viewed-card-container" >
        <div class="card-name">{{ item.name }}</div>
        {% if item.type == 'VegetableAndFruit' %}
            {% if item.photo %}
            <img class="card-img" src="{{ item.photo.url }}" alt="vegetable or fruit photo">
            {% else %}
            <img class="card-img" src="{% static 'images/fruit-and-veg.jpg' %}" alt="vegetable or fruit  photo">
            {% endif %}
        {% elif item.type == 'Nut' %}
            {% if item.photo %}
            <img class="card-img" src="{{ item.photo.url }}" alt="nut photo">
        {% else %}
            <img class="card-img" src="{% static 'images/nuts-and-dry-fruits.jpg' %}" alt="nut photo">
        {% endif %}
        {% elif item.type == 'DairyProduct' %}
            {% if item.photo %}
            <img class="card-img" src="{{ item.photo }}" alt="dairy photo">
        {% else %}
            <img class="card-img" src="{% static 'images/milk-products.jpg' %}" alt="dairy photo">
        {% endif %}
        {% elif item.type == 'AnimalProduct' %}
            {% if item.photo %}
            <img class="card-img" src="{{ item.photo.url }}" alt="animal photo">
        {% else %}
            <img class="card-img" src="{% static 'images/meat.jpg' %}" alt="animal photo">
        {% endif %}
        {% endif %}
    </div>
{% endfor %}
        </div>
</div>


{% endblock %}

