{% load static %}
<div class="card-container">
  <div class="card-name">{{ nut }}</div>
  <div class="card-price">${{ nut.price }}/kg</div>
      <a href="{% url 'details nut' nut.pk %}">
        {% if nut.photo %}
            <img class="card-img" src="{{ nut.photo.url }}" alt="nut photo">
        {% else %}
            <img class="card-img" src="{% static 'images/nuts-and-dry-fruits.jpg' %}" alt="nut photo">
        {% endif %}
    </a>
    {% if request.user.is_authenticated %}
                <button 
            class="card-btn" 
            id="add-to-cart-Nut-{{ nut.pk }}"
            hx-get="{% url 'add to cart' item_type='Nut' product_id=nut.id %}"
            hx-target="#menu-cart-button"   
            hx-swap="outerHTML"
            onclick="addToCart('Nut',{{ nut.pk }})"
        >
            <img src="{% static 'images/shopping-trolley.png' %}" alt="Add to cart">
        </button>
    {% endif %}
</div>



