{% load static %}
<div class="card-container">
  <div class="card-name">{{ vegetable }}</div>
  <div class="card-price">${{ vegetable.price }} / kg</div>
      <a href="{% url 'details vegetable' vegetable.pk %}">
        {% if vegetable.photo %}
            <img class="card-img" src="{{ vegetable.photo.url }}" alt="vegetable or fruit photo">
        {% else %}
            <img class="card-img" src="{% static 'images/fruit-and-veg.jpg' %}" alt="vegetable or fruit  photo">
        {% endif %}
    </a>

    {% if request.user.is_authenticated and request.user.id != vegetable.user_id %}
        <button class="btn" id="add-to-cart-VegetableAndFruit-{{ vegetable.pk }}"
                onclick="addToCart('VegetableAndFruit',{{ vegetable.pk }})">
            <a
                    hx-get="{% url 'add to cart' item_type='VegetableAndFruit' product_id=vegetable.id %}"
                    hx-target="#menu-cart-button"
                    hx-swap="outerHTML"
            >
                Buy 1 kg
            </a>
        </button>
    {% endif %}
</div>
