.empty-container{
  width: 395px;
  height: 318px;
  position: relative;
  background: #FAFAF5;
  border-radius: 24px;
  overflow: hidden;
  border: 2px #E6E6E6 solid;
  display: flex;
  align-items: center;
  justify-items: center;
}